<a href="#" class="open">全部展開</a>
<ul>
    <li><a href="#">快速開始</a>
        <ul>
            <li><a onclick="location.href='intro.htm'">hyUI簡介</a></li>
            <li><a onclick="location.href='hyui_download.htm'">下載</a></li>
            <li><a onclick="location.href='html.htm'">HTML範本</a></li>
            <!--  <li><a onclick="location.href='css.htm'">CSS基本設定</a></li>
            <li><a onclick="location.href='javascript.htm'">Javascript</a></li> -->
            <li><a onclick="location.href='hyui_variable.htm'">預設變數</a></li>
            <li><a onclick="location.href='mixin.htm'">Mixin</a></li>
            <li><a onclick="location.href='accessibility.htm'">無障礙與列印</a></li>
            <!-- <li><a onclick="location.href='other.htm'">其他</a></li> -->
        </ul>
    </li>
    <li><a href="#">排版系統</a>
        <ul>
            <li><a onclick="location.href='mediaquery.htm'">mediaquery</a></li>
            <li><a onclick="location.href='bootstrap.htm'">Bootstrap grid system</a></li>
            <li><a onclick="location.href='grid.htm'">自訂 grid system</a></li>
        </ul>
    </li>
    <li><a href="#">範例頁面</a>
        <ul>
            <li><a onclick="window.open('template.htm')">mp <span>首頁</span> </a></li>
            <li><a onclick="location.href='lp.htm'">lp_list <span>列表頁(標準)</span> </a></li>
            <li><a onclick="location.href='lp_table.htm'">lp_table <span>列表頁(表格)</span> </a></li>
            <li><a onclick="location.href='lp_album.htm'">lp_ablum <span>列表頁(相簿)</span> </a></li>
            <li><a onclick="location.href='cp.htm'">cp <span>內容頁(標準)</span> </a></li>
            <li><a onclick="location.href='cp_photo.htm'">cp_photo <span>內容照片頁</span> </a></li>
            <li><a onclick="location.href='np.htm'">np <span>節點頁</span> </a></li>
            <li><a onclick="location.href='fp.htm'">fp <span>轉寄友人</span> </a></li>
            <li><a onclick="location.href='qp.htm'">qp <span>意見信箱</span> </a></li>
            <li><a onclick="location.href='sitemap.htm'">sitemap <span>網站導覽</span> </a></li>
            <li><a onclick="location.href='404.htm'">404 <span>404錯誤頁面</span> </a></li>
            <li><a onclick="window.open('epaper_template.htm')">epaper <span>電子報</span> </a></li>
        </ul>
    </li>
    <li><a href="#">模組</a>
        <ul>
            <li><a onclick="location.href='accordion.htm'">Accordion <span>收合式選單</span></a></li>
            <li><a onclick="location.href='album.htm'">Album+Lightbox <span>相簿+燈箱</span></a></li>
            <li><a onclick="location.href='header.htm'">Header <span>頁首</span></a>
                <ul>
                    <li><a onclick="location.href='navigation.htm'">Navigation <span>導覽列</span></a></li>
                    <li><a onclick="location.href='search.htm'">Search <span>搜尋</span></a></li>
                    <li><a onclick="location.href='menu.htm'">Menu <span>主選單</span></a></li>
                    <li><a onclick="location.href='language.htm'">Language <span>選擇語系選單</span></a></li>
                </ul>
            </li>
            <li><a onclick="location.href='breadcrumb.htm'">Breadcrumb <span>頁面路徑</span></a></li>
            <li><a onclick="location.href='category.htm'">Category <span>分類目錄</span></a></li>
            <li><a onclick="location.href='download.htm'">File-download <span>檔案下載</span></a></li>
            <li><a onclick="location.href='fatfooter.htm'">Fat-Footer <span>頁尾選單</span></a></li>
            <li><a onclick="location.href='cppanel.htm'">Function-Panel <span>文章控制模組</span></a>
                <ul>
                    <li><a onclick="location.href='fontsize.htm'">Font-Size <span>文字大小</span></a></li>
                    <li><a onclick="location.href='function.htm'">Function <span>功能選單</span></a></li>
                    <li><a onclick="location.href='share.htm'">Share <span>社群分享</span></a></li>
                </ul>
            </li>
            <li><a onclick="location.href='footer.htm'">Footer <span>頁尾</span></a></li>
            <li><a onclick="location.href='modal.htm'">Modal <span>燈箱</span></a></li>
            <li><a onclick="location.href='notice.htm'">Notice <span>提示訊息</span></a></li>
            <li><a onclick="location.href='paginations.htm'">Paginations <span>分頁導覽</span></a></li>
            <!-- <li><a onclick="location.href='search.htm'">Search <span>查詢</span></a></li> -->
            <li><a onclick="location.href='slider.htm'">Slider <span>圖片輪播</span></a></li>
            <li><a onclick="location.href='tabs.htm'">Tabs <span>頁籤</span></a></li>
            <li><a onclick="location.href='tag.htm'">Tag <span>標籤</span></a></li>
            <li><a onclick="location.href='thumbnail.htm'">Thumbnail <span>縮圖</span></a></li>
            <li><a onclick="location.href='link.htm'">Web link <span>網頁連結</span></a></li>
        </ul>
    </li>
    <li><a href="#">網頁元素</a>
        <ul>
            <li><a onclick="location.href='buttons.htm'">Buttons <span>按鈕</span></a></li>
            <li><a onclick="location.href='typography.htm'">Typography <span>文字設定</span></a></li>
            <li><a onclick="location.href='form.htm'">Forms <span>表單</span></a></li>
            <li><a onclick="location.href='table.htm'">Tables <span>表格</span></a></li>
            <li><a onclick="location.href='tooltip.htm'">Tooltip <span>提示框</span></a></li>
            <li><a onclick="location.href='image.htm'">Images <span>圖片</span></a></li>
            <li><a onclick="location.href='icon.htm'">Icons <span>圖示</span></a></li>
            <!--  <li><a onclick="location.href='icon-font.htm'">Icon Font</a></li> -->
            <li><a onclick="location.href='hr.htm'">Hr & Divider <span>分隔線</span></a></li>
            <!-- <li><a onclick="location.href='divider.htm'">Divider <span>分隔線</span></a></li> -->
        </ul>
    </li>
    <li><a onclick="location.href='vendor.htm'">選用外掛</a></li>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script>
$(function() {
    //選單效果
    $('.left_nav ul ul').show();
    $('.left_nav ul li.active').children('ul').show();
    var showStr = "全部收合";
    nav_H = $('.left_nav').height();
    $('.left_nav .open').html(showStr);
    $('.left_nav .open').click(function(e) {
        if ($(this).is(":contains('全部展開')")) {
            showStr = "全部收合";
            $('.left_nav .open').html(showStr);
            $('.left_nav ul ul').slideDown({
                duration: 700,
                easing: "easeOutExpo"
            });
            nav_H = $('.left_nav').height();
            e.preventDefault();
        } else {
            showStr = "全部展開";
            $('.left_nav .open').html(showStr);
            $('.left_nav ul ul').hide();
            nav_H = $('.left_nav').height();
            e.preventDefault();
        }
    });
    $('.left_nav>ul>li>a').each(function(e) {
        $(this).click(function(e) {
            $('.left_nav ul li').removeClass('active');
            $(this).parents('li').addClass('active');
            $(this).parents().siblings().children('ul').hide();
            $(this).parent().children('ul').slideToggle({
                duration: 700,
                easing: "easeOutExpo"
            });
            e.preventDefault();
        });
    });

    $('.left_nav>ul>li>a').each(function(index, el) {
        var ulLength = $(this).has('ul').length;
        if (ulLength < 1) {
            $(this).addClass('nochild');
        }
    });

});
</script>